div{
    background: url(Avengers1.jpg) no-repeat center center fixed; 
    height: 2000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
}

